h1 {

    position: absolute;
    margin-top: 100px;
    margin-left: 1000px;
    color: #fff;
}

h4 {
    position: absolute;
    margin-top: 180px;
    margin-left: 600px;
    color: #fff;

}
h5 {
    position: absolute;
    margin-top: 230px;
    margin-left: 600px;
    color: #fff;


}