table {

    position: absolute;
    border: 1px solid grey;
    width: 600px;
    margin-top: 200px;
    margin-left: 700px;
}


td,th {

   padding: 3px; /* Поля вокруг содержимого таблицы */
   border: 1px solid black; /* Параметры рамки */
}

th {
    background: #FFD700; /* Цвет фона */
   }

