{% extends "home_page/home_page.html" %}
{% load static %}



{% block content %}
<link rel="stylesheet" href="{% static 'bot/css/bot_1.css' %}">

    <p>
    Задана сумма: {{x}}
    </p>
    {% if histor.data_end %}
    <img class = "client_img" src="{% static 'bot/gif/gifka.gif' %}" alt="Логотип">
    {% else %}
    <p> Hi</p>
    {% endif %}

    <a href="{% url 'exit' %}"><li><button class="btn btn-warning">Exit</button></li></a>



<!--    <button class="btn btn-warning">Авторизация</button>-->


{% endblock %}