form{

    position: absolute;
    margin-top: 100px;
    margin-left: 500px;

}


form h1 {

    color: #fff;
}


form p label {

    color: #fff;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.client_img {
    position: absolute;
    width:700px;
    left:500px;
    top:80px;


}

.client_img_2 {
    position: absolute;
    width:550px;
    left:500px;
    top:10px;


}

